<%- include('../partials/header') %>

<h1><%= beer.name %></h1>
<h3><%= beer.style %></h3>
<form method="POST" action="/beers/<%= beer._id %>?_method=DELETE">
    <button class="delete" type="submit">Delete this Beer</button>
</form>
<hr />
<h3>Comments:</h3>
<% beer.comments.forEach(function(comment) { %>
    <p><%= comment.content %></p>
    <p><%= comment._id.getTimestamp() %></p>
    <br>
<% }); %>

<h3>Bars:</h3>
<% beer.bars.forEach(function(bar) { %>
    <p><%= bar.name %> - <a href="/bars/<%= beer._id %>/beers/<%= bar._id %>/remove">Stop serving</a></p>
<% }); %>

<main>
    <h3>Served at these bars:</h3>
    <form method="POST" action="/beers/<%= beer.id %>/bars">
        <select name="bar">
            <% bars.forEach(function(bar) { %>
                <option value="<%= bar.id %>"><%= bar.name %></option>
            <% }); %>
        </select>
        <br>
        <br>
        <input type="submit" value="Add Bar">
    </form>
</main>

<%- include('../partials/footer') %>