<%- include('../partials/header') %>

<h1><%= bar.name %></h1>
<form method="POST" action="/bars/<%= bar._id %>?_method=DELETE">
    <button class="delete" type="submit">Delete</button>
</form>
<hr />

<% if (bar.beers.length) { %>
    <h3>Beers served:</h3>
    <% bar.beers.forEach(function(beer) { %>
        <p><%= beer.name %> - <a href="/bars/<%= bar._id %>/beers/<%= beer._id %>/remove">Stop Serving this Beer</a></p>
    <% }); %>
<% } else { %>
    <h3>No Beers Being Served</h3>
    <% } %>

<main>
    <h3>Add a Beer for this Bar</h3>
    <form method="POST" action="/bars/<%= bar._id %>/beers">
        <select name="beer">
            <% beers.forEach(function(beer) { %>
                <option value="<%= beer.id %>"><%= beer.name %></option>
            <% }); %>
        </select>
        <br>
        <br>
        <input type="submit" value="Add Beer">
    </form>
</main>

<%- include('../partials/footer') %>